<!-- app/views/book_ui_renderer/book_ui/_chapter.html.erb -->
<div class="book-chapter">
  <h2><%= chapter.title %></h2>
  <div class="chapter-content">
    <%= chapter.content.html_safe %>
  </div>
</div>